/* COMMON */
.body__container {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #F9FBFB;
    background: #0F1014;
    min-height: 100vh;
}

/* SECTION */
.section {
    position: relative;
}

.section .container {
    position: relative;
    width: 1024px;
    margin: 0 auto;
}

/* TAG INITAILIZE */
a {
    color: #F9FBFB;
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

/* BUTTON */
.btn {
    background: none;
    color: #F9FBFB;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
}

.btn:focus {
    outline: none;
}

/* INPUT */
.input--text {
    width: 100%;
    background: none;
    color: #F9FBFB;
    border: none;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
    padding: 10px 15px;
    box-sizing: border-box;
}

.input--text:focus {
    outline: none;
}

/* AUTOFILL */
.input--text:-webkit-autofill,
.input--text:-webkit-autofill:hover,
.input--text:-webkit-autofill:focus,
.input--text:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #F9FBFB !important;
}

/* VENDOR PREFIX */
.input--text::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5);
}

.input--text::-ms-input-placeholder {
    color: rgba(255, 255, 255, .5);
}

.input--text::-moz-input-placeholder {
    color: rgba(255, 255, 255, .5);
}

/* TRANSLATE */
.vendor-translate {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/* HEADER */
header.section {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

header.section .container {
    height: 130px;
}

header.section .logo,
header.section .log-in {
    position: absolute;
    top: 50%;
}

header.section .logo {
    left: 50%;
    font-size: 100px;
    font-family: 'Staatliches', cursive;
}

header.section .log-in {
    right: 0;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

header.section .log-in a {
    color:rgba(255, 255, 255, .7);
}

/* CONTENT */
.section__content .container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 50px;
}

.section__content .movie-info {
    width: 216px;
    padding: 20px;
}

.section__content .movie-info .info__link {
    position: relative;
    display: block;
    height: 310px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.section__content .movie-info .info__link img {
    border-radius: 10px;
}

.section__content .movie-info .rank {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    font-style: italic;
    text-shadow: 0 0 7px rgba(0, 0, 0, .5);
}

.section__content .movie-info .viewing-age {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    border-radius: 50%;
    background-image: url('../img/15.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section__content .movie-info .hidden-box,
.section__content .movie-info .hidden-box .btn--detail,
.section__content .movie-info .hidden-box .grade {
    position: absolute;
    left: 0;
}

.section__content .movie-info .hidden-box {
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, .8);
    display: none;
}

.section__content .movie-info .hidden-box .btn--detail {
    width: 80%;
    text-align: center;
    border: 1px solid #fff;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 14px;
    top: 50%;
    left: 50%;
}

.section__content .movie-info .hidden-box .grade {
    width: 100%;
    bottom: 0;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, .3);
    text-align: center;
}

.section__content .movie-info .hidden-box .grade .score {
    color: #DA1300;
    margin-left: 10px;
    font-size: 23px;
}

.section__content .movie-info .info__link:hover .hidden-box {
    display: block;
}

/* INDEX, DETAIL COMMON STYLE */
.btn--wrap {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.btn--wrap .btn--like {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: .4;
    height: 100%;
    border: 1px solid #F9FBFB;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn--wrap .btn--like img {
    width: 24px;
    margin-right: 8px;
}

.btn--wrap .btn--ticketing {
    /* flex: .55; */
    flex: 1;
    height: 100%;
    border-radius: 5px;
    background: #DA1300;
}

.btn--wrap .btn--ticketing a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* PAGE GENERATOR */
.generator,
.generator .page-wrap,
.generator .page-wrap .page-list a {
    display: flex;
}

.generator {
    justify-content: center;
    padding-bottom: 50px;
}

.generator .page-wrap {
    border: 1px solid #F9FBFB;
    border-radius: 15px;
    overflow: hidden;
}

.generator .page-wrap .page-list a {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.generator .page-wrap .page-list a:hover {
    background: #F9FBFB;
    color: #0F1014;
}
