<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail | CINEMA 99</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- RESET STYLE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <!-- STYLE -->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/detail.css">

    <!-- CLASSLIST -->
    <link rel="stylesheet" href="../static/css/classlist.css">

    <script>
        function logout() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/"
        }
    </script>
        <style>
        .username{
            margin-right: 10px;
        }
    </style>
</head>

<body>
<div class="body__container">

    <!-- HEADER -->
    <header class="section">
        <div class="container">

            <h1 class="logo vendor-translate">
                <a href="/">CINEMA 99</a>
            </h1>

            <div class="log-in">
                {% if status %}
                    <span class="username">{{ username }}</span>
                    <button id="login_out" class="btn btn--log-in" onclick="logout()">
                        로그아웃
                    </button>
                {% else %}
                    <button class="btn btn--log-in">
                        <a href="/login">로그인</a>
                    </button>
                {% endif %}
            </div>

        </div>
    </header>

    <!-- INFO -->
    <section class="section section__info">
        <div class="container" id={{ detail_info.id }}>

            <div class="info__top">
                <img src={{ detail_info.img }} class="poster" alt={{ detail_info.title }}>

                <div class="basic-info">
                    <h2 class="info__title">
                        {{ detail_info.title }}
                    </h2>

                    {% if detail_info.opening_date %}
                        <p class="opening-date">
                            {{ detail_info.opening_date }}
                        </p>
                    {% endif %}

                    <div class="detail-info">
                        <ul class="movie-summary">
                            {% if detail_info.genre %}
                                <li class="sub-info">
                                    <em>장르</em>

                                    <strong>
                                        <em>{{ detail_info.genre }}</em>
                                        {% if detail_info.show_time %}
                                            <em class="time">
                                                {{ detail_info.show_time }}
                                            </em>
                                        {% endif %}
                                    </strong>
                                </li>
                            {% endif %}

                            {% if detail_info.director %}
                                <li class="sub-info">
                                    <em>감독</em>

                                    <strong>
                                        <em>{{ detail_info.director }}</em>
                                    </strong>
                                </li>
                            {% endif %}

                            {% if detail_info.actor %}
                                <li class="sub-info">
                                    <em>출연</em>

                                    <strong>
                                        <em>{{ detail_info.actor }}</em>
                                    </strong>
                                </li>
                            {% endif %}

                            {% if detail_info.age %}
                                <li class="sub-info">
                                    <em>등급</em>

                                    <strong>
                                        <em>{{ detail_info.age }}</em>
                                    </strong>
                                </li>
                            {% endif %}
                        </ul>

                        <div class="grade">
                            <strong class="score">{{ grade }}</strong>
                        </div>
                    </div>

                    <button class="btn btn--ticketing">
                        {% if detail_info.reserve %}
                            <a target="_blank" href={{ detail_info.reserve }}>예매하기</a>
                        {% else %}
                            <a target="_blank" href={{ detail_info.link }} class="naver-movie">네이버 영화</a>
                        {% endif %}
                    </button>
                </div>
            </div>

            {% if detail_info.summary_tit or detail_info.summary_des %}
                <div class="info__bottom">
                    <strong class="bottom--title">
                        시놉시스
                    </strong>

                    {% if detail_info.summary_tit %}
                        <h3 class="summary summary--title">
                            {{ detail_info.summary_tit }}
                        </h3>
                    {% endif %}

                    {% if detail_info.summary_des %}
                        <p class="summary summary--description">
                            {{ detail_info.summary_des }}
                        </p>
                    {% endif %}
                </div>
            {% endif %}

        </div>
    </section>

    <!-- REVIEW -->
    <section class="section section__review" id="review-section">
        <div class="container">

            <div class="write-review">
                <div class="score-wrap">
                    <strong class="score-info">10점</strong>

                    <div class="score-star">
                        <button class="btn btn--star on">1점</button>
                        <button class="btn btn--star on">2점</button>
                        <button class="btn btn--star on">3점</button>
                        <button class="btn btn--star on">4점</button>
                        <button class="btn btn--star on">5점</button>
                        <button class="btn btn--star on">6점</button>
                        <button class="btn btn--star on">7점</button>
                        <button class="btn btn--star on">8점</button>
                        <button class="btn btn--star on">9점</button>
                        <button class="btn btn--star on">10점</button>
                    </div>
                </div>

                <div class="enter-area">
                    <textarea id="input-review" class="input--text"
                              placeholder="리뷰를 작성해주세요. 최대 220자까지 작성할 수 있습니다."></textarea>

                    <span class="length-info">
                            <strong class="length">0</strong>
                            /
                            <em class="max-length">220</em>
                        </span>
                </div>

                <button type="submit" class="btn btn--submit">리뷰 작성</button>
            </div>

            <ul class="review-wrap"></ul>

            <button class="btn btn--more">
                <span>더 보기</span>
            </button>

        </div>
    </section>

</div>

<script src="../static/js/index.js"></script>
<script src="../static/js/review.js"></script>
</body>

</html>