<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail | CINEMA 99</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

    <!-- RESET STYLE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <!-- STYLE -->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/detail.css">

    <!-- CLASSLIST -->
    <link rel="stylesheet" href="../static/css/classlist.css">
</head>
<body>
<div class="body__container">

    <!-- HEADER -->
    <header class="section">
        <div class="container">

            <h1 class="logo vendor-translate">
                <a href="/">CINEMA 99</a>
            </h1>

            <div class="log-in">
                <button class="btn btn--log-in">
                    <a href="/login">로그인</a>
                </button>
            </div>

        </div>
    </header>

    <!-- INFO -->
    <section class="section section__info">
        <div class="container">

            <div class="info__top">
                <img src={{ detail_info.img }} class="poster" alt={{ detail_info.title }}>

                <div class="basic-info">
                    <h2 class="info__title">
                        {{ detail_info.title }}
                    </h2>

                    {% if detail_info.opening_date %}
                        <p class="opening-date">
                            {{ detail_info.opening_date }}
                        </p>
                    {% endif %}

                    <div class="detail-info">
                        <ul class="movie-summary">
                            {% if detail_info.genre %}
                                <li class="sub-info">
                                    <em>장르</em>

                                    <strong>
                                        <em>{{ detail_info.genre }}</em>
                                        {% if detail_info.show_time %}
                                            <em class="time">
                                                {{ detail_info.show_time }}
                                            </em>
                                        {% endif %}
                                    </strong>
                                </li>
                            {% endif %}
                            
                            {% if detail_info.director %}
                                <li class="sub-info">
                                    <em>감독</em>

                                    <strong>
                                        <em>{{ detail_info.director }}</em>
                                    </strong>
                                </li>
                            {% endif %}
                            
                            {% if detail_info.actor %}
                                <li class="sub-info">
                                    <em>출연</em>

                                    <strong>
                                        <em>{{ detail_info.actor }}</em>
                                    </strong>
                                </li>
                            {% endif %}
                            
                            {% if detail_info.age %}
                                <li class="sub-info">
                                    <em>등급</em>

                                    <strong>
                                        <em>{{ detail_info.age }}</em>
                                    </strong>
                                </li>
                            {% endif %}
                        </ul>

                        <div class="grade">
                            <strong class="score">8.3</strong>
                        </div>
                    </div>

                    <div class="btn--wrap">
                        <!-- <button class="btn btn--like">
                            <img src="../static/img/like-active.png" alt="like">
                            <strong class="number-of-likes">106</strong>
                        </button> -->
    
                        <button class="btn btn--ticketing">
                            {% if detail_info.reserve %}
                                <a target="_blank" href={{ detail_info.reserve }}>예매하기</a>
                            {% else %}
                                <a target="_blank" href={{ detail_info.link }} class="naver-movie">네이버 영화</a>
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>

            {% if detail_info.summary_tit or detail_info.summary_des %}
                <div class="info__bottom">
                    <strong class="bottom--title">
                        시놉시스
                    </strong>

                    {% if detail_info.summary_tit %}
                        <h3 class="summary summary--title">
                            {{ detail_info.summary_tit }}
                        </h3>
                    {% endif %}
                    
                    {% if detail_info.summary_des %}
                        <p class="summary summary--description">
                            {{ detail_info.summary_des }}
                        </p>
                    {% endif %}
                </div>
            {% endif %}

        </div>
    </section>

</div>
</body>
</html>