<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail | CINEMA 99</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

    <!-- RESET STYLE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <!-- STYLE -->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/detail.css">

    <!-- CLASSLIST -->
    <link rel="stylesheet" href="../static/css/classlist.css">
</head>
<body>
<div class="body__container">

    <!-- HEADER -->
    <header class="section">
        <div class="container">

            <h1 class="logo vendor-translate">
                <a href="#">CINEMA 99</a>
            </h1>

            <div class="log-in">
                <button class="btn btn--log-in">
                    <a href="#">로그인</a>
                </button>
            </div>

        </div>
    </header>

    <!-- INFO -->
    <section class="section section__info">
        <div class="container">

            <div class="info__top">
                <img src="../static/img/movie_image.jpg" class="poster" alt="movie">

                <div class="basic-info">
                    <h2 class="info__title">
                        컨저링 3: 악마가 시켰다
                    </h2>

                    <p class="opening-date">
                        2021.05.26 
                    </p>

                    <div class="detail-info">
                        <ul class="movie-summary">
                            <li class="sub-info">
                                <em>장르</em>

                                <strong>
                                    <em>드라마, 범죄, 코미디 / 미국</em>
                                    <em class="time">133분</em>
                                </strong>
                            </li>

                            <li class="sub-info">
                                <em>감독</em>

                                <strong>
                                    <em>크레이그 질레스피</em>
                                </strong>
                            </li>

                            <li class="sub-info">
                                <em>출연</em>

                                <strong>
                                    <em>엠마 스톤</em>
                                </strong>
                            </li>
                        </ul>

                        <div class="grade">
                            <strong class="score">8.3</strong>
                        </div>
                    </div>

                    <div class="btn--wrap">
                        <!-- <button class="btn btn--like">
                            <img src="../static/img/like-active.png" alt="like">
                            <strong class="number-of-likes">106</strong>
                        </button> -->
    
                        <button class="btn btn--ticketing">
                            <a href="#">예매하기</a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="info__bottom">
                <strong class="bottom--title">
                    시놉시스
                </strong>

                <h3 class="summary summary--title">
                    모든 것은 악마가 시켰다!
                </h3>

                <p class="summary summary--description">
                    1981년, 미국 역사상 최초로 잔혹한 살인사건의 용의자가 악마가 살해하도록 시켰다고 주장하는 초유의 사태가 일어난다! 그리고 사건의 배후에는 악마에게 빙의된 소년이 있었는데…
                    초자연 현상 연구가 워렌 부부의 사건 파일 중 여전히 미스터리로 남아있는 실화!
                    진실 혹은 거짓? 살인사건의 범인, 인간인가 악마인가...
                </p>
            </div>

        </div>
    </section>

</div>
</body>
</html>