<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CINEMA 99</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

    <!-- RESET STYLE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <!-- STYLE -->
    <link rel="stylesheet" href="../static/css/main.css">

    <!-- CLASSLIST -->
    <link rel="stylesheet" href="../static/css/classlist.css">
</head>
<body>
<div class="body__container">

    <!-- HEADER -->
    <header class="section">
        <div class="container">

            <h1 class="logo vendor-translate">
                <a href="/">CINEMA 99</a>
            </h1>

            <div class="log-in">
                <button class="btn btn--log-in">
                    {% if not username %}
                        <a href="/login">로그인</a>
                    {% else %}
                        <a href="/">로그아웃</a>
                    {% endif %}
                </button>
            </div>

        </div>
    </header>

    <!-- CONTENT -->
    <section class="section section__content">
        <div class="container">
            
            {% for movie in movie_list %}
            <div class="movie-info">
                <a href="/detail" class="info__link" id={{ movie.id }}>
                    {% if movie.code <= 10 %}
                        <p class="rank">{{ movie.code }}</p>
                    {% endif %}
                    <img src={{ movie.img }} alt={{ movie.title }}>
                    {% if movie.age %}
                        <span class="viewing-age">{{ movie.age }}</span>
                    {% endif %}

                    <div class="hidden-box">
                        <button class="btn btn--detail vendor-translate">
                            평점 / 후기 보기
                        </button>

                        <h2 class="title">
                            {{ movie.title }}
                        </h2>
                    </div>
                </a>

                <button class="btn btn--ticketing">
                    {% if movie.reserve %}
                        <a target="_blank" href={{ movie.reserve }}>예매하기</a>
                    {% else %}
                        <a target="_blank" href={{ movie.link }} class="naver-movie">네이버 영화</a>
                    {% endif %}
                </button>
            </div>
            {% endfor %}

        </div>
    </section>

    <!-- PAGE GENERATOR -->
    <nav class="section generator">
        <ul class="page-wrap">
            {% for i in range(page_count) %}
            <li class="page-list">
                <a href="/page" class="page-link">{{ i + 1 }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>

</div>

<script src="../static/js/index.js"></script>
<script src="../static/js/page-generator.js"></script>
<script src="../static/js/viewing-age.js"></script>
<script src="../static/js/detail-info.js"></script>
</body>
</html>
